

/* ===============================================================

				MAIN CSS 
 
=============================================================== */

/* =================================
	Base Styles 
================================= */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-footer {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	font-family: 'Megrim', cursive;
	font-weight: 700;
}

.SM-Nav {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.Soc {
	padding: 10px 0;
}


/* =================================
	Home Styles 
================================= */

.container {
	width: 90%;
	margin: 0 auto;
	flex-grow: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: auto;
}

.banner {
	color: black;
	text-align: center;
	padding: 25px 0;
	margin: 25px 0;
}

.logo {
	width: 125px;
}

.FB-Logo {
	width: 25px;
}

.L-Logo {
	width: 30px;
}

.G-Logo {
	width: 27.5px;
}

.name {
	margin-bottom: 0;
	font-size: 1.5rem;
	font-family: 'Megrim', cursive;
}

.link {
	list-style: none;
	align-self: auto;
}

.developer {
	font-family: 'Miriam Libre', sans-serif;
	font-size: 1.5rem;
}

.designer {
	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 2.5rem;
	letter-spacing: 2px;
}



/* =================================
	LINK STYLES
================================= */

a:link {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
}

a:hover {
	color: orange;
}

a:active {
	color: #000;
}


/* ===============================================================

				MEDIA QUERIES 
 
=============================================================== */


/* =================================
	600PX +
================================= */

@media (min-width: 600px) {
	
.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	max-width: 1350px;
  }
  
.main-footer {
	font-family: 'Megrim', cursive;
}

.SM-Nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.Soc {
	padding: 25px;
	margin-top: 50px;
}

.FB-Logo {
	width: 50px;
}

.L-Logo {
	width: 60px;
}

.G-Logo {
	width: 55px;
}

.C-text {
	text-align: center;
	margin-bottom: 50px;
}

.logo {
	width: 300px;
  }
  
a.glow,
a.glow:hover, 
a.glow:focus {
	text-decoration: none;
	color: #000;
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
  }

a.glow:hover, 
a.glow:focus  {
	color: white;
	text-shadow: -1px 1px 8px #10c1ea, 1px -1px 8px #10c1ea;
  }
 
}


/* =================================
	1050PX +
================================= */

@Media (min-width: 1050px) {

.designer {
	font-size: 3.5rem;
  }	

.developer {
	font-size: 2rem;
  }
  
}

/* =================================
	1600PX +
================================= */

@Media (min-width: 1600px) {

.designer {
	font-size: 5rem;
  }	

.developer {
	font-size: 3.5rem;
  }

.name {
	font-size: 4rem;
  }
.logo {
	width: 500px;
  }
  
}


























